<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<center>
<div class="wrap">
    <h1>User Profile</h1>
    <p>{{ user.username }}</p>
    <p>{{ user.email }}</p>

    {% if user.is_Contentmaker %}
        <h2>About</h2>
        <p>{{ user.contentmaker.about }}</p>
    {% endif %}
</div>
</center>

<div class="audiobooks-section">
    {% if audiobooks %}
        <h2>Audiobooks By {{ user.username }}</h2>
        <ul>
            {% for audiobook in audiobooks %}
                <li>
                    <a href="{% url 'audiobook-detail' audiobook.id %}">{{ audiobook.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

</body>
</html>
