{% extends "base.html" %}
{% load static %}

{% block content %}
    
      <link rel="stylesheet" type="text/css" href="{% static "assets/css/profile.css" %}">
  <body>
    <center>
      <div class="wrap">
        <h1>User Profile</h1>
        <p>{{ user.username }}</p>
        <p>{{ user.email }}</p>

        <img src="media/avatars/default-avatar.jpg" alt=" " width="100" />

        <button type="button" id="updateBtn">Update Profile</button>

        <button type="button" id="deleteBtn" name="action" value="delete">Delete Profile</button>

        <a href="{% url 'logout' %}" class="logout-link">Logout</a>
      </div>
    </center>

    {% if user.is_Contentmaker %}
      <h2>About</h2>
      <p>{{ user.contentmaker.about }}</p>
    {% endif %}

        {% if audiobooks %}
    <h2>Your Audiobooks</h2>
    <ul>
        {% for audiobook in audiobooks %}
            <li>
                <a href="{% url 'audiobook-detail' audiobook.id %}">{{ audiobook.title }}</a>
                    <source src="{{ audiobook.audio_book.url }}" type="audio/mpeg">
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if books %}
    <h2>Your Books</h2>
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'book-detail' book.id %}">{{ book.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}



<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeBtn">&times;</span>
    <h2>Update Profile</h2>

    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
      <input type="hidden" name="action" value="update" />
      <input type="text" name="username" placeholder="username" />
      <input type="email" name="email" placeholder="email" />
      <input type="file" name="avatar_img" placeholder="avatar" />

      <!-- Добавьте поле "About" только для пользователей ContentMaker -->
      {% if show_about_field %}
        <textarea name="about" placeholder="About">{{ user.contentmaker.about }}</textarea>
      {% endif %}

      <button type="submit">Update Profile</button>
    </form>
  </div>
</div>

    <script>
      const updateBtn = document.querySelector("#updateBtn");
      const deleteBtn = document.querySelector("#deleteBtn");
      const modal = document.getElementById("myModal");
      const closeBtn = document.getElementById("closeBtn");

      const csrfToken = "{{ csrf_token }}"; // Получите CSRF-токен из контекста шаблона

      const openModal = () => {
        modal.style.display = "block";
      };

      const closeModal = () => {
        modal.style.display = "none";
      };

deleteBtn.addEventListener("click", () => {
  fetch(window.location.href, {
    method: 'DELETE',
    headers: {
      'X-CSRFToken': csrfToken, // Убедитесь, что csrfToken определен
    },
  })
  .then((response) => {
    if (response.ok) {
      // Успешное удаление пользователя, выполните перенаправление
      window.location.href = '/user/login/'; // Измените URL на свой
    } else {
      console.error('Failed to delete user profile.');
    }
  });
});

      updateBtn.addEventListener("click", openModal);
      closeBtn.addEventListener("click", closeModal);
      deleteBtn.addEventListener("click", () => {});

      window.addEventListener("click", (event) => {
        if (event.target === modal) {
          closeModal();
        }
      });
    </script>
  </body>
</html>
{% endblock %}
